<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers Website | Flask</title>
    <style>
        h1{
            font-size: 40px;
            font-family: Roboto;
            font-weight: normal;
            color: #313131;
            text-align: center;
            border: 1px solid black
        }
    </style>
</head>
<body>
    <h1>careers websites using Python | Flask </h1>
    <img src"./static/banner.jpg" alt="" width="400px" height="400px">
    <h2>About Jovian</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae iusto quae maxime recusandae reiciendis, quisquam dolores vitae, minima fuga harum quod voluptas doloribus? Quos ipsam dolores corporis vitae mollitia aliquam vel quis sint, quae commodi officia quasi nam, id eaque temporibus aperiam aspernatur, natus at. Cupiditate doloribus accusamus quos quibusdam nulla voluptas. Placeat?</p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
</body>
</html>